*{
    margin: 0;
    padding: 0;
}
body{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
}
.card{
    box-shadow: 0 2px 20px lightgray;
    cursor: pointer;
    transition: transform 100ms ease-in;

}
.card-img{
    height: 8rem;
    width: 100%;
    object-fit: cover;
}
.profile-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    transition: transform 200ms ease-in;

}
.name{
    text-align: center;
}
.job-title{
    color: gray;
    text-align: center;
    transition: transform 200ms ease-in;
    font-size: 15px;
}
.about{
    margin-top: 2rem;
    font-size: 17px;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}
.social-media{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
.social-media li a i{
    padding: 10px;
    color: black;
    font-size: 30px;
    transition: transform 100ms ease-in-out;
}
.fa-facebook-square:hover{
    transform: scale(1.6);
    color: blue;
}
.fa-twitter-square:hover{
    transform: scale(1.6);
    color: rgb(33, 174, 240);
}
.fa-instagram-square:hover{
    transform: scale(1.6);
    color: rgb(201, 25, 148);;
}

.card:hover .job-title{
    transform: scale(1.42);
    color: inherit;
}
.card:hover .card-img{
    filter: blur(8px);
}
.card:hover .profile-img{
    transform: scale(1.42);
}
.card:hover .name{
    filter: blur(8px);
}
.card:hover .about{
    filter: blur(8px);
}